<section class="container">
<table class="table" *ngIf="transactions.length > 0 ; else emptyList">
  <thead class="table__header">
    <th class="table__header-content">Data</th>
    <th class="table__header-content">Valor</th>
    <th class="table__header-content">Destino</th>
  </thead>
  <tbody class="table__body">
    <tr class="table__body-item" *ngFor="let transaction of transactions">
      <td class="item">{{transaction.data | date: 'short'}}</td>
      <td class="item">{{transaction.value | currency }}</td>
      <td class="item">{{transaction.destination}}</td>
    </tr>
  </tbody>
</table>
<ng-template #emptyList>
<p class="container__emptyList">Nenhuma transação até o momento ...</p>
</ng-template>
</section>
