@import '../../abstract/functions','../../abstract/responsive','../../abstract/variables';

.container{
  @include screenSize(100%,auto);
  @include displayFlex(center,flex-start,row);
  padding-bottom: 5vh;
  .form{
    margin-top: 5vh;
    padding: 5em;
    border-radius: .8em;
    @include cardShadow();
    background-color: $color10;
    &__title{
      @include typography(40px, left, 1.4em,600);
      margin-bottom: 2.2vh;
    }
    &__field{
      @include screenSize(100%,auto);
      @include displayFlex(center, flex-start,column);
      &-label{
        @include typography(18px,left,1.3em,500);
        color: $color3;
        margin-bottom: .3em;
      }
      &-input{
        @include screenSize(100%,3em);
        @include typography(2vw,left,1.2em,500);
        outline: none;
        border: 1px solid $color11;
        border-radius: .3em;
        margin-bottom: .7em;
        padding: 0.6em;
        &:focus{
          outline: 2px double $color1;
        }
      }
    }
    &__buttonWrapper{
      @include screenSize(100%,auto);
      @include displayFlex(center, center,row);
      margin-top: 3vh;
      &-button{
        @include screenSize(80%,auto);
        background-color: $color6;
        outline: none;
        border: 1px solid $color11;
        border-radius: .4em;
        padding: 3vh 3vw;
        color: $color9;
        cursor: pointer;
        @include typography(22px,center,1.2em,500);
        transition: all .4s linear;
        &:hover{
          background-color: $color1;
          transition: all .4s linear;
          transform: scale(1.01);
        }
      }
    }
  }
}
